@{
    ViewData["Title"] = "Cadastro Alunos";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Conheça <a href="https://docs.microsoft.com/aspnet/core">Construção de aplicativos web com ASP.NET Core</a>.</p>
</div>
