@model Pi.Univesp.Models.Aluno

@{
    ViewData["Title"] = "Estatísticas";
}

<h1>Estatísticas</h1>

<div>
    <h4>Aluno: @Model.Nome</h4>
    <hr />
    <canvas id="myChart"></canvas>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AlunoId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    <script>
        const labels = [ @Html.Raw(ViewData["Meses"])        ];
        const data = {
            labels: labels,
            datasets: [{
                label: 'Notas Histórico',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [@Html.Raw(ViewData["Notas"])],
            }]
        };


        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
}